In [65]:
import recordlinkage
from recordlinkage.datasets import load_febrl4
import pandas as pd

In [63]:
dfA, dfB = load_febrl4()

In [64]:
dfA

,given_name,surname,street_number,address_1,address_2,suburb,postcode,state,date_of_birth,soc_sec_id
rec_id,,,,,,,,,,
rec-1070-org,michaela,neumann,8,stanley street,miami,winston hills,4223,nsw,19151111,5304218
rec-1016-org,courtney,painter,12,pinkerton circuit,bega flats,richlands,4560,vic,19161214,4066625
rec-4405-org,charles,green,38,salkauskas crescent,kela,dapto,4566,nsw,19480930,4365168
rec-1288-org,vanessa,parr,905,macquoid place,broadbridge manor,south grafton,2135,sa,19951119,9239102
rec-3585-org,mikayla,malloney,37,randwick road,avalind,hoppers crossing,4552,vic,19860208,7207688
...,...,...,...,...,...,...,...,...,...,...
rec-2153-org,annabel,grierson,97,mclachlan crescent,lantana lodge,broome,2480,nsw,19840224,7676186
rec-1604-org,sienna,musolino,22,smeaton circuit,pangani,mckinnon,2700,nsw,19890525,4971506
rec-1003-org,bradley,matthews,2,jondol place,horseshoe ck,jacobs well,7018,sa,19481122,8927667
rec-4883-org,brodee,egan,88,axon street,greenslopes,wamberal,2067,qld,19121113,6039042
rec-66-org,koula,houweling,3,mileham street,old airdmillan road,williamstown,2350,nsw,19440718,6375537

In [46]:
dfB

,given_name,surname,street_number,address_1,address_2,suburb,postcode,state,date_of_birth,soc_sec_id
rec_id,,,,,,,,,,
rec-561-dup-0,elton,NaN,3,light setreet,pinehill,windermere,3212,vic,19651013,1551941
rec-2642-dup-0,mitchell,maxon,47,edkins street,lochaoair,north ryde,3355,nsw,19390212,8859999
rec-608-dup-0,NaN,white,72,lambrigg street,kelgoola,broadbeach waters,3159,vic,19620216,9731855
rec-3239-dup-0,elk i,menzies,1,lyster place,NaN,northwood,2585,vic,19980624,4970481
rec-2886-dup-0,NaN,garanggar,NaN,may maxwell crescent,springettst arcade,forest hill,2342,vic,19921016,1366884
...,...,...,...,...,...,...,...,...,...,...
rec-4495-dup-0,connor,belperio,15,NaN,NaN,ryde,2570,nsw,19170518,5394641
rec-4211-dup-0,daniel,maspn,9,derrington crescent,el pedro caravan park,sunnybank,4350,vic,19500705,5525378
rec-3131-dup-0,samuel,crofs,613,banjine street,kurrajong vlge,pengzin,2230,qld,19410531,4467228
rec-3815-dup-0,saah,beattih,60,kay's place,oldershaw court,ashfield,2047,vic,19500712,9435148
rec-493-dup-0,NaN,blackwell,127,ferrier place,northwood npark,chelsea heights,4211,qld,19570409,8541055

In [47]:
indexer = recordlinkage.Index()
indexer.full()
pairs = indexer.index(dfA, dfB)

WARNING:recordlinkage:indexing - performance warning - A full index can result in large number of record pairs.

In [48]:
print (len(dfA), len(dfB), len(pairs))

5000 5000 25000000

In [49]:
indexer = recordlinkage.Index()
indexer.block("given_name")
candidate_links = indexer.index(dfA, dfB)
# candidate_links = recordlinkage.index.SortedNeighbourhood(dfA, dfB)
len(candidate_links)

77249

In [66]:
df_Disfold_Avengers = pd.read_json('./disfold_Avengers_m.json')
df_Disfold_Avengers

,id,name,headquarters,country,continent,region,sub_region,founded,employees,ceo,...,change_1_year,results_for_year,total_assets,total_liabilities,total_equity,founders,market_value,address,type,official_name
0,0ebfada7-a403-4c91-b9fc-e8133f4e9997,Apple,,Cupertino,CA,,,"April 1, 1976","100,000",Mr. Timothy D. Cook,...,,,,,,,,,,Apple Inc.
1,d9c00dbd-4a9a-412a-a897-a21831e99592,Danaher,,Washington,DC,,,1969,"78,000",Mr. Rainer M. Blair,...,,,,,,,,,,Danaher Corporation
2,2c4dd91f-3c1f-4109-8fd6-0973fa3c74fc,Merck,,Kenilworth,NJ,,,1891,"67,000",Mr. Robert M. Davis J.D.,...,,,,,,,,,,"Merck & Co., Inc."
3,2b79731e-a881-4786-bbf8-0a98695a9784,Bhp,,Melbourne,VIC,,,1885,"40,110","Mr. Mike P. Henry B.Sc., BSc (Chem)",...,,,,,,,,,,BHP Group
4,8f3b315b-daec-43db-ae5d-d996eb4a71fe,Nike,,Beaverton,OR,,,"January 25, 1964","73,300",Mr. John J. Donahoe II,...,,,,,,,,,,"Nike, Inc."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,c74f71a4-a588-40cc-8591-c4f9b65d5e2a,Asahi Group Holdings Ltd,,Tokyo,Japan,,,,"30,020",Mr. Atsushi Katsuki,...,,,,,,,,,,NaN
996,3b37bf4d-18d5-461a-97ce-1483793ede2e,Haitong Securities Co. Ltd,,Shanghai,China,,,,"11,282",,...,,,,,,,,,,NaN
997,87d3caa6-747b-496f-bc8c-c937c806e81f,"Catalent, Inc.",,Somerset,NJ,,,2007,"17,300",Mr. John R. Chiminski,...,,,,,,,,,,NaN
998,77e336c2-da69-460a-9b39-47a0fb27b536,"Quanta Services, Inc.",,Houston,TX,,,1997,"43,700",Mr. Earl C. Austin Jr.,...,,,,,,,,,,NaN
999,4a51c7f5-ab10-4ec0-9a17-f9872aadb283,Ubiquiti Inc.,,NewYork,NY,,,October 2003,"1,223",Mr. Robert J. Pera,...,,,,,,,,,,NaN

In [67]:
df_Disfold_FR = pd.read_json('./Datasets for RL/Disfold/disfold_fr_m.json')
df_Disfold_FR

,id,name,headquarters,country,continent,region,sub_region,founded,employees,ceo,...,change_1_year,results_for_year,total_assets,total_liabilities,total_equity,founders,market_value,address,type,top_competitor
0,eef9ebb2-3251-4ca5-818e-013c89247e80,Apple,,,,,,"Founded: April 1, 1976","Employees: 100,000",CEO: Mr. Timothy D. Cook,...,,,,,,,,,,Samsung
1,bf819b7e-c4b2-40e9-879a-0a0553328d49,Microsoft,,,,,,"Founded: April 4, 1975","Employees: 181,000",CEO: Mr. Satya Nadella,...,,,,,,,,,,Oracle
2,ae5a1781-0fec-4cce-8e0f-1838993018a8,Aramco,,,,,,,,CEO: Mr. Amin H. Nasser,...,,,,,,,,,,ExxonMobil
3,0a6a6fe4-1bbe-4b8d-82f5-01f9fd35da50,Alphabet,,,,,,"Founded: October 2, 2015","Employees: 156,500",CEO: Mr. Sundar Pichai,...,,,,,,,,,,Meta
4,fc684188-98dd-4a26-9cca-bca7dca904ba,Amazon,,,,,,"Founded: July 5, 1994","Employees: 1,608,000",CEO: Mr. Andrew R. Jassy,...,,,,,,,,,,Alibaba
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
894,dbf25cb3-32a6-4026-9f24-44ad89c6d0d4,Markel Corporation,,,,,,Founded: 1930,"Employees: 20,300",CEO: Mr. Thomas Sinnickson Gayner,...,,,,,,,,,,Chubb Limited
895,5ef5b739-b301-4430-8763-9156e6d728f4,"Brown & Brown, Inc.",,,,,,Founded: 1939,"Employees: 12,023","CEO: Mr. J. Powell Brown C.P.C.U., CPCU",...,,,,,,,,,,"Marsh & McLennan Companies, Inc."
896,70cd2e93-0c63-4500-a0a4-e22e8bb8b2b8,Nomura Research Institute Ltd,,,,,,,"Employees: 16,196",CEO: Mr. Shingo Konomoto,...,,,,,,,,,,Accenture
897,72a99a25-89a5-44d0-8879-09f593eab6bb,MGM Resorts International,,,,,,Founded: 1986,"Employees: 52,000",CEO: Mr. William Joseph Hornbuckle IV,...,,,,,,,,,,Las Vegas Sands Corp.
898,513a6867-6295-470c-9bdd-3df73cafdd5f,Mega Financial Holding Co. Ltd,,,,,,,"Employees: 9,594",,...,,,,,,,,,,JPMorgan

In [68]:
indexer = recordlinkage.Index()
indexer.full()
pairs = indexer.index(df_Disfold_Avengers, df_Disfold_FR)

WARNING:recordlinkage:indexing - performance warning - A full index can result in large number of record pairs.

In [70]:
print (len(df_Disfold_Avengers), len(df_Disfold_FR), len(pairs))

1000 899 899000

In [73]:
indexer = recordlinkage.Index()
indexer.block("name")
candidate_links = indexer.index(df_Disfold_Avengers, df_Disfold_FR)
len(candidate_links)
candidate_links

MultiIndex([(  0,   0),
            (  1,  49),
            (  2,  48),
            (  4,  46),
            (  5,  45),
            (  6,  44),
            (  7,  43),
            (  8,  42),
            ( 10,  40),
            ( 11,  39),
            ...
            (879, 869),
            (882, 866),
            (883, 865),
            (885, 863),
            (888, 860),
            (889, 859),
            (891, 857),
            (894, 854),
            (896, 852),
            (897, 851)],
           length=503)