In [194]:
import recordlinkage
import pandas as pd

In [195]:
df_Disfold_Avengers = pd.read_json('./Datasets for RL/Disfold/disfold_Avengers_m.json')
# df_Disfold_Avengers

In [196]:
df_Disfold_FR = pd.read_json('./Datasets for RL/Disfold/disfold_fr_m.json')
# df_Disfold_FR

In [207]:
# indexer = recordlinkage.Index()
indexer = recordlinkage.Index()
# indexer.full()
indexer.block("name")
pairs = indexer.index(df_Disfold_Avengers, df_Disfold_FR)

In [211]:
pairs
# pairs[2]

(2, 49)

In [198]:
print (len(df_Disfold_Avengers), len(df_Disfold_FR), len(pairs))

1000 900 900000

In [201]:
compare_cl = recordlinkage.Compare()
compare_cl.string("name", "name", method="jarowinkler", threshold=0.90, label="name")
features = compare_cl.compute(pairs, df_Disfold_Avengers, df_Disfold_FR)

In [202]:
features

         name
0   0     1.0
    1     1.0
    2     0.0
    3     0.0
    4     0.0
...       ...
999 895   0.0
    896   0.0
    897   0.0
    898   0.0
    899   0.0

[900000 rows x 1 columns]

In [203]:
features.describe()

                name
count  900000.000000
mean        0.000916
std         0.030244
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max         1.000000

In [204]:
features.sum(axis=1).value_counts().sort_index(ascending=False)

1.0       824
0.0    899176
dtype: int64

In [205]:
features[features.sum(axis=1) > 0.99]

         name
0   0     1.0
    1     1.0
1   50    1.0
2   49    1.0
4   47    1.0
...       ...
898 851   1.0
917 577   1.0
970 267   1.0
983 131   1.0
993 839   1.0

[824 rows x 1 columns]