In [39]:
import recordlinkage
from recordlinkage.datasets import load_febrl4
import pandas as pd

dfA, dfB = load_febrl4()

In [40]:
# Indexation step
indexer = recordlinkage.Index()
indexer.block("given_name")
candidate_links = indexer.index(dfA, dfB)

In [41]:
# Comparison step
compare_cl = recordlinkage.Compare()

# compare_cl.exact("given_name", "given_name", label="given_name")
compare_cl.string("surname", "surname", method="jarowinkler", threshold=0.85, label="surname")
# compare_cl.exact("date_of_birth", "date_of_birth", label="date_of_birth")
# compare_cl.exact("suburb", "suburb", label="suburb")
# compare_cl.exact("state", "state", label="state")
# compare_cl.string("address_1", "address_1", threshold=0.85, label="address_1")

features = compare_cl.compute(candidate_links, dfA, dfB)

In [42]:
features.sum(axis=1).value_counts().sort_index(ascending=False)

1.0     3432
0.0    73817
dtype: int64

In [43]:
# Classification step
matches = features[features.sum(axis=1) > 0.51]

In [44]:
matches

                             surname
rec_id_1     rec_id_2
rec-2371-org rec-2371-dup-0      1.0
rec-3024-org rec-3024-dup-0      1.0
rec-4652-org rec-4652-dup-0      1.0
rec-4795-org rec-4795-dup-0      1.0
rec-1016-org rec-1016-dup-0      1.0
...                              ...
rec-4528-org rec-4528-dup-0      1.0
rec-4887-org rec-4887-dup-0      1.0
rec-4350-org rec-4350-dup-0      1.0
rec-4569-org rec-4569-dup-0      1.0
rec-3125-org rec-3125-dup-0      1.0

[3432 rows x 1 columns]

In [45]:
print(len(matches))

3432

In [48]:
df_Disfold_Avengers = pd.read_json('./Datasets for RL/Disfold/disfold_Avengers_m.json')
# df_Disfold_Avengers

In [49]:
df_Disfold_FR = pd.read_json('./Datasets for RL/Disfold/disfold_fr_m.json')
# df_Disfold_FR

In [50]:
indexer = recordlinkage.Index()
indexer.full()
pairs = indexer.index(df_Disfold_Avengers, df_Disfold_FR)

WARNING:recordlinkage:indexing - performance warning - A full index can result in large number of record pairs.

In [51]:
print (len(df_Disfold_Avengers), len(df_Disfold_FR), len(pairs))

1000 899 899000

In [52]:
indexer = recordlinkage.Index()
indexer.block("name")
candidate_links = indexer.index(df_Disfold_Avengers, df_Disfold_FR)
len(candidate_links)
candidate_links

MultiIndex([(  0,   0),
            (  1,  49),
            (  2,  48),
            (  4,  46),
            (  5,  45),
            (  6,  44),
            (  7,  43),
            (  8,  42),
            ( 10,  40),
            ( 11,  39),
            ...
            (879, 869),
            (882, 866),
            (883, 865),
            (885, 863),
            (888, 860),
            (889, 859),
            (891, 857),
            (894, 854),
            (896, 852),
            (897, 851)],
           length=503)

In [53]:
compare_cl = recordlinkage.Compare()
compare_cl.string("name", "name", method="jarowinkler", threshold=0.85, label="name")
features = compare_cl.compute(candidate_links, df_Disfold_Avengers, df_Disfold_FR)

In [54]:
features

         name
0   0     1.0
1   49    1.0
2   48    1.0
4   46    1.0
5   45    1.0
...       ...
889 859   1.0
891 857   1.0
894 854   1.0
896 852   1.0
897 851   1.0

[503 rows x 1 columns]

In [55]:
features.describe()

        name
count  503.0
mean     1.0
std      0.0
min      1.0
25%      1.0
50%      1.0
75%      1.0
max      1.0

In [56]:
features.sum(axis=1).value_counts().sort_index(ascending=False)

1.0    503
dtype: int64

In [60]:
features[features.sum(axis=1) > 0.99]

         name
0   0     1.0
1   49    1.0
2   48    1.0
4   46    1.0
5   45    1.0
...       ...
889 859   1.0
891 857   1.0
894 854   1.0
896 852   1.0
897 851   1.0

[503 rows x 1 columns]