# Data Cleaning

In [1]:
import pandas as pd

In [2]:
disfold_df = pd.read_json("./datasets/companiesMarketCap_dataset.jsonl", lines=True)
disfold_df

,id,name,rank,market_cap,country,share_price,change_1_day,change_1_year,categories
0,1aeb78c70807445290795f145210a39e,Apple,1,$2.351 T,USA,$147.81,-0.34%,-9.74%,"[Tech, Software, Dow jones, Tech Hardware, Ele..."
1,8443bd488b2543718e4dab19e7d1b371,Bristol-myers Squibb,57,$172.49 B,USA,$81.13,0.31%,46.42%,"[Pharmaceuticals, Biotech]"
2,d35ff63680a645f986048ab48d2fe322,Wells Fargo,56,$175.05 B,USA,$45.94,-1.98%,-6.07%,"[Banks, Financial services]"
3,0664af11c7b9417bab58542ffa880c0e,Nike,55,$175.54 B,USA,$112.20,1.29%,-34.00%,"[Sports goods, Footwear, Dow jones, Clothing]"
4,4a67737ea89e450b8e8677a91e90327f,Walt Disney,54,$177.08 B,USA,$99.43,0.85%,-32.45%,"[Entertainment, Dow jones]"
...,...,...,...,...,...,...,...,...,...
5892,b2a4630e99454705bd2d3bcb1f064c31,Neogen,2661,$4.24 B,USA,$19.62,0.36%,-43.99%,NaN
5893,15aae81b8c624719b905f235a602664f,Pnm Resources,2660,$4.24 B,USA,$49.51,0.24%,9.25%,NaN
5894,75c824f0a43e40f49c5b51f3581ac2ae,Kinnevik,2659,$4.25 B,Sweden,$15.01,-1.76%,-53.41%,[Investment]
5895,c453cafe72bc4bc98107d40d7e4d775c,Topgolf Callaway Brands,2658,$4.25 B,USA,$23.00,1.72%,-4.80%,[Sports goods]
5896,147a973077244b1aba54986d28c3dab6,Atlas Corp,2657,$4.25 B,Canada,$15.13,0.00%,9.32%,NaN

### Drop 'id' column

In [3]:
if 'id' in disfold_df.columns:
    disfold_df = disfold_df.drop('id', axis=1)

### Drop empty records

In [4]:
disfold_df = disfold_df.dropna(axis=0, how='all')

### Replace all missing values with empty string

In [5]:
disfold_df = disfold_df.fillna('')

### Replace lists with strings

In [6]:
for i in disfold_df:
    disfold_df[i] = [', '.join(map(str, l)) if isinstance(l, list) else l for l in disfold_df[i]]

### Cleaning strings

1) Lowercase strings
2) Remove 'mr' and 'ms' text inside strings
3) Remove punctuation
4) Trimming whitespace from text

In [7]:
for i in disfold_df:
    if disfold_df[i].dtype == object:
        disfold_df[i] = disfold_df[i].str.lower()
        disfold_df[i] = disfold_df[i].str.replace('mr|ms|[^\w\s]', '')
        disfold_df[i] = disfold_df[i].str.replace('\sb$|\sbillion$', '000000000')
        disfold_df[i] = disfold_df[i].str.replace('^\strillion$|^\st$', '000000000000')
        disfold_df[i] = disfold_df[i].str.strip()

In [8]:
disfold_df

,name,rank,market_cap,country,share_price,change_1_day,change_1_year,categories
0,apple,1,2351 t,usa,14781,034,974,tech software dow jones tech hardware electronics
1,bristolmyers squibb,57,17249000000000,usa,8113,031,4642,pharmaceuticals biotech
2,wells fargo,56,17505000000000,usa,4594,198,607,banks financial services
3,nike,55,17554000000000,usa,11220,129,3400,sports goods footwear dow jones clothing
4,walt disney,54,17708000000000,usa,9943,085,3245,entertainment dow jones
...,...,...,...,...,...,...,...,...
5892,neogen,2661,424000000000,usa,1962,036,4399,
5893,pnm resources,2660,424000000000,usa,4951,024,925,
5894,kinnevik,2659,425000000000,sweden,1501,176,5341,investment
5895,topgolf callaway brands,2658,425000000000,usa,2300,172,480,sports goods
5896,atlas corp,2657,425000000000,canada,1513,000,932,