# Record Linkage

In [3]:
import recordlinkage
import pandas as pd

In [4]:
PATH_DS1 = './Record Linkage/Datasets for RL/Disfold/disfold_Avengers_m.json'
PATH_DS2 = './Record Linkage/Datasets for RL/Disfold/disfold_fr_m.json'
THRESHOLD = 0.95

dfA = pd.read_json('./Record Linkage/Datasets for RL/Disfold/disfold_Avengers_m.json')
display(dfA)
dfB = pd.read_json('./Record Linkage/Datasets for RL/Disfold/disfold_fr_m.json')
display(dfB)

,id,name,headquarters,country,continent,region,sub_region,founded,employees,ceo,...,change_1_day,change_1_year,results_for_year,total_assets,total_liabilities,total_equity,founders,market_value,address,type
0,98e1d71b-5bc0-4888-ba3f-88955274837b,Apple,,Cupertino,CA,,,"April 1, 1976","100,000",Mr. Timothy D. Cook,...,,,,,,,,,,
1,d774584e-0d8f-489a-a84b-04287c55c7cb,Danaher,,Washington,DC,,,1969,"78,000",Mr. Rainer M. Blair,...,,,,,,,,,,
2,f1b77b88-4227-49c9-9d89-62af78c52f20,Merck,,Kenilworth,NJ,,,1891,"67,000",Mr. Robert M. Davis J.D.,...,,,,,,,,,,
3,98bdf197-6812-4d08-bf5e-b66ec60ebf62,Bhp,,Melbourne,VIC,,,1885,"40,110","Mr. Mike P. Henry B.Sc., BSc (Chem)",...,,,,,,,,,,
4,6ee7d5ac-7a00-48f2-90c4-ad8756734f16,Nike,,Beaverton,OR,,,"January 25, 1964","73,300",Mr. John J. Donahoe II,...,,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,589309b2-6366-4923-a799-96798ffc0f0c,Asahi Group Holdings Ltd,,Tokyo,Japan,,,,"30,020",Mr. Atsushi Katsuki,...,,,,,,,,,,
996,ffe43cb6-90b7-4f26-904e-8e26105c32b3,Haitong Securities Co. Ltd,,Shanghai,China,,,,"11,282",,...,,,,,,,,,,
997,796a92a2-3c91-43cc-a9af-2386d7e57024,"Catalent, Inc.",,Somerset,NJ,,,2007,"17,300",Mr. John R. Chiminski,...,,,,,,,,,,
998,ecc02541-e061-4fa6-8599-e754a81a871b,"Quanta Services, Inc.",,Houston,TX,,,1997,"43,700",Mr. Earl C. Austin Jr.,...,,,,,,,,,,
999,7a3ac7d3-2fa9-4126-8e8e-ce22b8edee62,Ubiquiti Inc.,,NewYork,NY,,,October 2003,"1,223",Mr. Robert J. Pera,...,,,,,,,,,,

,id,name,headquarters,country,continent,region,sub_region,founded,employees,ceo,...,change_1_day,change_1_year,results_for_year,total_assets,total_liabilities,total_equity,founders,market_value,address,type
0,2a50924e-8fea-44ac-9108-d11b5c84db4a,Apple,,,,,,"Founded: April 1, 1976","Employees: 100,000",CEO: Mr. Timothy D. Cook,...,,,,,,,,,,
1,118bc8de-0b90-43fc-b7a4-32835c17448d,Apple.,,,,,,"Founded: April 4, 1975","Employees: 181,000",CEO: Mr. Satya Nadella,...,,,,,,,,,,
2,118bc8de-0b90-43fc-b7a4-32835c17448d,Microsoft,,,,,,"Founded: April 4, 1975","Employees: 181,000",CEO: Mr. Satya Nadella,...,,,,,,,,,,
3,bbc75ca1-e3e4-4d48-858c-59d5cfc0cb80,Aramco,,,,,,,,CEO: Mr. Amin H. Nasser,...,,,,,,,,,,
4,ae47ac0c-74a6-4fde-ae09-53f8f9063dd2,Alphabet,,,,,,"Founded: October 2, 2015","Employees: 156,500",CEO: Mr. Sundar Pichai,...,,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
895,7cbae98d-b2a0-4c6c-b76b-f6b2f58e950a,Markel Corporation,,,,,,Founded: 1930,"Employees: 20,300",CEO: Mr. Thomas Sinnickson Gayner,...,,,,,,,,,,
896,ee882ec3-4e43-474c-92a1-4e371c8caf18,"Brown & Brown, Inc.",,,,,,Founded: 1939,"Employees: 12,023","CEO: Mr. J. Powell Brown C.P.C.U., CPCU",...,,,,,,,,,,
897,d2e2cb2d-2bcf-4e74-9e13-69b00f04e17f,Nomura Research Institute Ltd,,,,,,,"Employees: 16,196",CEO: Mr. Shingo Konomoto,...,,,,,,,,,,
898,039075cb-7d86-49f5-8304-0db8a85c5c83,MGM Resorts International,,,,,,Founded: 1986,"Employees: 52,000",CEO: Mr. William Joseph Hornbuckle IV,...,,,,,,,,,,
899,bfb1d81f-2fba-444f-a0e1-69a0390df043,Mega Financial Holding Co. Ltd,,,,,,,"Employees: 9,594",,...,,,,,,,,,,

In [5]:
def matches_list_index(path_ds1, path_ds2):
    pairs = []
    dfA = pd.read_json(path_ds1)
    dfB = pd.read_json(path_ds2)
    # set_index
    indexer = recordlinkage.Index()
    indexer.full()
    candidate_links  = indexer.index(dfA, dfB)
    # Comparison step
    compare_cl = recordlinkage.Compare()
    compare_cl.string("name", "name", method="jarowinkler", threshold=THRESHOLD, label="name")
    features = compare_cl.compute(candidate_links, dfA, dfB)
    # Classification step
    matches = features[features.sum(axis=1) >= 0.95]
    # display(matches)
    #df2 = matches[matches.columns[0]]
    di = matches.to_dict()
    for pair in di['name'].keys():
        pairs.append(pair)
    return pairs

def print_row_by_index(path_ds1, i):
    df = pd.read_json(path_ds1)
    display(df.loc[i])

In [8]:
pairs = matches_list_index(PATH_DS1, PATH_DS2)

print(pairs)

indexes_A = indexes_B = []

for x in pairs:
    indexes_A.append(x[0])
    
for x in pairs:
    indexes_B.append(x[1])

# display(indexes_A)
#print(indexes_A, end='')
#print(indexes_B, end='')
# display(pairs[50])

WARNING:recordlinkage:indexing - performance warning - A full index can result in large number of record pairs.
[(0, 0), (0, 1), (1, 50), (2, 49), (4, 47), (5, 46), (6, 45), (7, 44), (8, 43), (10, 41), (11, 40), (12, 39), (14, 37), (16, 35), (17, 34), (18, 33), (19, 32), (20, 31), (22, 29), (24, 27), (25, 26), (26, 25), (27, 24), (28, 23), (29, 22), (30, 21), (31, 20), (33, 18), (34, 17), (36, 15), (37, 14), (38, 13), (39, 12), (40, 11), (42, 9), (43, 8), (44, 7), (45, 6), (46, 5), (47, 4), (48, 3), (49, 2), (50, 78), (51, 77), (52, 76), (54, 74), (55, 73), (57, 71), (58, 70), (59, 69), (60, 68), (61, 67), (62, 66), (63, 65), (65, 63), (67, 61), (69, 59), (71, 57), (72, 56), (73, 55), (74, 54), (75, 53), (76, 52), (77, 51), (78, 100), (80, 98), (81, 97), (84, 94), (87, 91), (89, 89), (91, 87), (92, 86), (93, 85), (94, 84), (95, 83), (98, 80), (99, 79), (100, 150), (101, 149), (103, 147), (104, 146), (105, 145), (106, 144), (107, 143), (108, 142), (109, 141), (110, 140), (111, 139), (112, 138), (113, 137), (115, 135), (116, 134), (117, 133), (118, 132), (119, 131), (122, 128), (123, 127), (124, 126), (126, 124), (128, 122), (129, 121), (130, 120), (131, 119), (132, 118), (133, 117), (134, 116), (136, 114), (137, 113), (138, 112), (139, 111), (140, 110), (141, 109), (142, 108), (145, 105), (146, 104), (148, 102), (149, 101), (150, 183), (151, 182), (152, 181), (153, 180), (154, 179), (156, 177), (157, 176), (158, 175), (158, 393), (159, 174), (160, 173), (161, 172), (163, 170), (164, 169), (165, 168), (167, 166), (170, 163), (171, 162), (173, 160), (175, 158), (176, 157), (177, 156), (178, 155), (179, 154), (180, 153), (181, 152), (182, 151), (183, 200), (184, 199), (185, 198), (186, 197), (187, 196), (188, 195), (189, 194), (190, 193), (191, 192), (192, 191), (194, 189), (195, 188), (196, 187), (197, 186), (198, 185), (200, 250), (201, 249), (202, 248), (203, 247), (204, 246), (205, 245), (206, 244), (209, 241), (210, 240), (211, 239), (212, 238), (213, 237), (214, 236), (218, 232), (219, 231), (221, 229), (222, 228), (223, 227), (224, 226), (225, 225), (226, 224), (227, 223), (228, 222), (229, 221), (230, 220), (232, 218), (235, 215), (236, 214), (238, 212), (239, 211), (240, 210), (241, 209), (246, 204), (248, 202), (249, 201), (251, 279), (252, 278), (253, 277), (254, 276), (255, 275), (256, 274), (257, 273), (258, 272), (259, 271), (260, 270), (261, 269), (262, 268), (264, 266), (265, 265), (266, 264), (268, 262), (269, 261), (271, 259), (272, 258), (273, 257), (274, 256), (275, 255), (276, 254), (277, 253), (278, 252), (279, 251), (280, 300), (281, 299), (284, 296), (286, 294), (288, 292), (289, 291), (290, 290), (291, 289), (292, 288), (293, 287), (294, 286), (295, 285), (296, 284), (297, 283), (298, 282), (299, 281), (300, 350), (301, 349), (302, 348), (303, 347), (304, 346), (305, 345), (306, 344), (307, 343), (308, 342), (310, 340), (311, 339), (312, 338), (313, 337), (314, 336), (316, 334), (319, 331), (322, 328), (323, 327), (325, 325), (327, 323), (328, 322), (329, 321), (330, 320), (332, 318), (333, 317), (334, 316), (335, 315), (336, 314), (337, 313), (338, 312), (339, 311), (340, 310), (341, 309), (342, 308), (343, 307), (344, 306), (345, 305), (346, 304), (347, 303), (348, 302), (349, 301), (351, 387), (352, 386), (353, 385), (354, 384), (355, 383), (356, 382), (358, 380), (359, 379), (360, 378), (361, 377), (362, 376), (363, 375), (366, 372), (367, 371), (368, 370), (369, 369), (370, 368), (371, 367), (372, 366), (373, 365), (374, 364), (375, 363), (377, 361), (378, 360), (380, 358), (381, 357), (383, 355), (384, 354), (385, 353), (386, 352), (387, 351), (389, 399), (390, 398), (391, 397), (392, 396), (393, 395), (394, 394), (395, 175), (395, 393), (397, 391), (399, 389), (402, 443), (404, 441), (405, 440), (406, 439), (407, 438), (408, 437), (409, 436), (411, 434), (412, 433), (415, 430), (416, 429), (417, 428), (418, 427), (419, 426), (422, 423), (423, 422), (424, 421), (426, 419), (428, 417), (429, 416), (430, 415), (432, 413), (433, 412), (435, 410), (436, 409), (437, 408), (438, 407), (439, 406), (440, 405), (441, 404), (442, 403), (443, 402), (444, 401), (445, 450), (446, 449), (447, 448), (448, 447), (449, 446), (451, 499), (452, 498), (453, 497), (454, 496), (455, 495), (456, 494), (457, 493), (459, 491), (460, 490), (461, 489), (462, 488), (463, 487), (464, 486), (466, 484), (467, 483), (468, 482), (469, 481), (470, 480), (471, 479), (472, 478), (473, 477), (474, 476), (476, 474), (477, 473), (478, 472), (480, 470), (481, 469), (482, 468), (483, 467), (485, 465), (488, 462), (489, 461), (490, 460), (491, 459), (492, 458), (493, 457), (494, 456), (495, 455), (496, 454), (498, 452), (500, 529), (501, 528), (502, 527), (503, 526), (504, 525), (505, 524), (506, 523), (507, 522), (508, 521), (509, 520), (510, 519), (511, 518), (513, 516), (514, 515), (515, 514), (516, 513), (517, 512), (519, 510), (520, 509), (521, 508), (522, 507), (523, 506), (524, 505), (525, 504), (526, 503), (527, 502), (528, 501), (530, 549), (531, 548), (533, 546), (535, 544), (536, 543), (537, 542), (538, 541), (539, 540), (540, 539), (541, 538), (542, 537), (543, 536), (545, 534), (547, 532), (551, 598), (552, 597), (553, 596), (554, 595), (555, 594), (557, 592), (558, 591), (559, 590), (560, 589), (561, 588), (562, 587), (565, 584), (566, 583), (568, 581), (569, 580), (570, 579), (572, 577), (573, 576), (574, 575), (575, 574), (576, 573), (577, 572), (583, 566), (584, 565), (587, 562), (588, 561), (590, 559), (591, 558), (592, 557), (594, 555), (595, 554), (596, 553), (598, 551), (599, 600), (600, 649), (601, 648), (602, 647), (603, 646), (604, 645), (605, 644), (606, 643), (607, 642), (608, 641), (609, 640), (610, 639), (612, 637), (613, 636), (618, 631), (619, 630), (620, 629), (622, 627), (623, 626), (624, 625), (625, 624), (626, 623), (627, 622), (628, 621), (629, 620), (630, 619), (631, 618), (634, 615), (635, 614), (636, 613), (637, 612), (638, 611), (640, 609), (641, 608), (642, 607), (643, 606), (644, 605), (646, 603), (648, 601), (649, 650), (650, 700), (651, 699), (652, 698), (653, 697), (654, 696), (656, 694), (657, 693), (658, 692), (660, 690), (661, 689), (662, 688), (663, 687), (665, 685), (666, 684), (667, 683), (668, 682), (669, 681), (670, 680), (671, 679), (672, 678), (673, 677), (675, 675), (676, 674), (677, 673), (679, 671), (680, 670), (681, 669), (683, 667), (686, 664), (688, 662), (689, 661), (690, 660), (693, 657), (694, 656), (695, 655), (696, 654), (697, 653), (698, 652), (699, 651), (700, 736), (701, 735), (702, 734), (703, 733), (704, 732), (705, 731), (706, 730), (707, 729), (709, 727), (711, 725), (712, 724), (713, 723), (714, 722), (715, 721), (716, 720), (717, 719), (718, 718), (719, 717), (721, 715), (722, 714), (723, 713), (724, 712), (725, 711), (726, 710), (727, 709), (729, 707), (730, 706), (732, 704), (733, 703), (735, 701), (736, 750), (737, 749), (738, 748), (742, 744), (743, 743), (744, 742), (747, 739), (748, 738), (749, 737), (750, 796), (752, 794), (753, 793), (754, 792), (755, 791), (756, 790), (757, 789), (758, 788), (760, 786), (761, 785), (762, 784), (763, 783), (764, 782), (765, 781), (766, 780), (767, 779), (768, 778), (769, 777), (770, 776), (771, 775), (773, 773), (774, 772), (775, 771), (776, 770), (777, 769), (778, 768), (779, 767), (780, 766), (781, 765), (783, 763), (784, 762), (786, 760), (787, 759), (788, 758), (790, 756), (792, 754), (794, 752), (795, 751), (796, 800), (797, 799), (799, 797), (800, 842), (801, 841), (802, 840), (803, 839), (804, 838), (805, 837), (808, 834), (809, 833), (810, 832), (811, 831), (813, 829), (815, 827), (817, 825), (818, 824), (820, 822), (822, 820), (823, 819), (824, 818), (825, 817), (826, 816), (827, 815), (829, 813), (832, 810), (833, 809), (835, 807), (836, 806), (837, 805), (839, 803), (840, 802), (841, 801), (842, 850), (843, 849), (844, 848), (846, 846), (848, 844), (849, 843), (850, 899), (851, 898), (852, 897), (853, 896), (854, 895), (855, 894), (856, 893), (857, 892), (858, 891), (859, 890), (860, 889), (861, 888), (862, 887), (863, 886), (864, 885), (865, 884), (866, 883), (867, 882), (869, 295), (870, 879), (871, 878), (872, 877), (873, 876), (874, 875), (875, 874), (876, 873), (878, 871), (879, 870), (880, 869), (882, 867), (883, 866), (884, 865), (885, 864), (887, 862), (888, 861), (889, 860), (890, 859), (891, 858), (894, 855), (896, 853), (897, 852), (898, 851)]

In [154]:
print_row_by_index(PATH_DS1, 5)

id                                676b47a3-de69-46be-bd4b-ea8d6e48fbea
name                                                            Abbott
headquarters
country                                                   NorthChicago
continent                                                           IL
region
sub_region
founded                                                           1888
employees                                                      113,000
ceo                                                 Mr. Robert B. Ford
market_cap
categories           [UnitedStates, Healthcare, MedicalDevices, Uni...
sector
industry
code
rank
revenue
net_income
link
share_price
change_1_day
change_1_year
results_for_year
total_assets
total_liabilities
total_equity
founders
market_value
address
type
Name: 5, dtype: object