# Record Linkage

In [135]:
import recordlinkage
import pandas as pd
import json

In [136]:
PATH_DS1 = './Mediated Datasets/disfold_Avengers_m.jsonl'
PATH_DS2 = './Mediated Datasets/disfold_fr_m.jsonl'
THRESHOLD = 0.95

In [137]:
#dfA = pd.read_json(PATH_DS1, lines=True)
#display(dfA)
#dfB = pd.read_json(PATH_DS2, lines=True)
#display(dfB)

In [138]:
def matches_list_index(path_ds1, path_ds2):
    pairs = []
    dfA = pd.read_json(path_ds1, lines=True)
    dfB = pd.read_json(path_ds2, lines=True)
    # set_index
    indexer = recordlinkage.Index()
    indexer.full()
    candidate_links  = indexer.index(dfA, dfB)
    # Comparison step
    compare_cl = recordlinkage.Compare()
    compare_cl.string("name", "name", method="jarowinkler", threshold=THRESHOLD, label="name")
    features = compare_cl.compute(candidate_links, dfA, dfB)
    # Classification step
    matches = features[features.sum(axis=1) >= 0.95]
    # display(matches)
    di = matches.to_dict()
    for pair in di['name'].keys():
        pairs.append(pair)
    return pairs

def row_by_index(path, i):
    df = pd.read_json(path, lines=True)
    return df.loc[i]

In [149]:
pairs = matches_list_index(PATH_DS1, PATH_DS2)
print(len(pairs))
left = []
right = []
for pair in pairs:
    left.append(row_by_index(PATH_DS1, pair[0]))
    right.append(row_by_index(PATH_DS2, pair[1]))
df_left = pd.DataFrame(left)
df_right = pd.DataFrame(right)
display(df_left)
display(df_right)

pp = pd.DataFrame() 
pp = pd.concat([df_left, df_right], axis=1)

print(pp)

WARNING:recordlinkage:indexing - performance warning - A full index can result in large number of record pairs.
904

,name,country,continent,founded,employees,ceo,market_cap,categories
0,apple,cupertino,ca,"april 1, 1976","100,000",timothy d cook,2825000000000,"unitedstates, technology, consumerelectronics,..."
1,danaher,washington,dc,1969,"78,000",rainer m blair,208030000000,"unitedstates, healthcare, diagnostics&research..."
2,merck,kenilworth,nj,1891,"67,000",robert m davis jd,210380000000,"unitedstates, healthcare, drugmanufacturersgen..."
3,bhp,melbourne,vic,1885,"40,110","mike p henry bsc, bsc chem",a$281.66 billion,"australia, basicmaterials, otherindustrialmeta..."
4,nike,beaverton,or,"january 25, 1964","73,300",john j donahoe ii,213600000000,"unitedstates, consumerdiscretionary, footwear&..."
...,...,...,...,...,...,...,...,...
895,sgs sa,geneva,switzerland,,"96,216",,chf19.83 billion,"switzerland, industrials, consultingservices, ..."
896,the saudi british bank,riyadh,saudiarabia,,"4,156",anthony william cripps,sr80.45 billion,"saudiarabia, financials, banks, saudiarabiafin..."
897,mitsui fudosan co ltd,tokyo,japan,,"23,992",masanobu komoda,2.629 trillion,"japan, realestate, realestatediversified, japa..."
898,"jb hunt transport services, inc",lowell,ar,"august 10, 1961","33,045",john n roberts iii,21480000000,"unitedstates, industrials, integratedfreight&l..."
922,cgi inc,montreal,qc,june 1976,"82,000",george d schindler,c$24.63 billion,"canada, technology, informationtechnologyservi..."

,founded,employees,ceo,name
0,": april 1, 1976","employees: 100,000",ceo timothy d cook,apple
49,: 1969,"employees: 78,000",ceo rainer m blair,danaher
48,: 1891,"employees: 67,000",ceo robert m davis jd,merck
47,: 1885,"employees: 40,110","ceo mike p henry bsc, bsc chem",bhp
46,": january 25, 1964","employees: 73,300",ceo john j donahoe ii,nike
...,...,...,...,...
853,,"employees: 96,216",,sgs sa
852,,"employees: 4,156",ceo anthony william cripps,the saudi british bank
851,,"employees: 23,992",ceo masanobu komoda,mitsui fudosan co ltd
850,": august 10, 1961","employees: 33,045",ceo john n roberts iii,"jb hunt transport services, inc"
444,: 1968,"employees: 4,303",ceo henry a fernandez,ci inc

InvalidIndexError: Reindexing only valid with uniquely valued Index objects